acmart.cls
acmthm.sty
acmart.pdf
acmguide.pdf
sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*-eps-converted-to.pdf
flies.pdf
fly.pdf
mouse.pdf
rosette.pdf
